@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Titan+One&display=swap');

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
}

header.scrolled {
    background-color: #333;
    color: #fff;
    box-shadow: none;
}

.logo {
    font-family: 'Titan One', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    transition-delay: all 0.3s ease-in-out;
}

.logo:hover {
    color: #ad9d9d;
    transition-delay: all 0.1s ease-in-out;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-left: 20px;
}

nav a {
    font-size: 18px;
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

nav a:hover {
    color: #ad9d9d;
}

@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        display: none;
    }

    nav li {
        margin: 10px 0;
    }

    nav a {
        font-size: 16px;
    }

    .menu-toggle {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        color: #333;
        cursor: pointer;
    }
}

/* estilo da seção de destaques */

.destaque {
    background-image: url("https://img.freepik.com/fotos-gratis/roupas-da-moda-em-cabides-no-show_1153-5381.jpg?w=1380&t=st=1678490641~exp=1678491241~hmac=9846be7f6096b372699669fc1b2a2388d8a914fd5394bf6d2d778d19e8dbf3dd");
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.destaque h1 {
    font-size: 60px;
    color: #0a0a0a;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* estilo para a seção de produtos */

.produtos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.produto {
    width: 300px;
    margin: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
}

.produto p {
    font-size: 16px;
    margin: 10px 20px;
    color: #070707;
}

.produto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.produto h2 {
    font-size: 24px;
    margin: 10px 20px;
}

.produto button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 0;
}

.produto button:hover {
    background-color: #555;
    cursor: pointer;
}

.produto a {
    text-decoration: none;
    color: #fff;
}

/* estilo do rodapé */

footer {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}

footer p {
    margin: 0;
}

/* estilo para o banner */
