@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

*{
    margin: auto;
    padding: auto;
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: black;
}

h1 {
    text-align: center;
}

h1:hover {
    color: rgb(225, 238, 225);
    font-size: 90px;
    padding-top: 20%;
    text-align: center;
    transition-duration: 1.8s;
    
}